@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Bangers);

body {

}
div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 100%;
}
header {
    background-color: #FFED74;
    color: black;
    border: 1px black solid;
    padding: 80%;	
    font-family: 'Lobster', cursive; 
    font-size: 2em;
}
nav {
    background-color:#E8C66A;
    border: 1px black solid;
    padding: 80%;
}
ul {
    list-style-type: none;
}
li {
    float: left;
}
li a {
    display: block;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
#navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgb(115,14,7);
	color: rgb(255,255,255);
	font-family: 'Courgette, cursive;
}

.navigation-li {
	float: left;
	font-family: 'Courgette', cursive;
}

.navigation-li a:hover {
	background-color: rgba(115,14,7,0.5);
	font-weight: bold;
	font-family: 'Courgette', cursive;
}

.active {
	background-color: rgb(255,255,255);
	color: rgb(255,255,255);
}

li a {
	display: block;
	color: rgb(255,255,255,0.5);
	text-align: center;
	border-right: 1px solid #bbb;
	padding: 16px 16px;
	text-decoration: none;
	font-weight: 700;
	font-family: 'Courgette', cursive;
	background-color: rgb(115,14,7);
}
#one {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}	

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 80%;
}

