@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
	font-size: 18px;
}

#wrapper {
	background-color: white; 
	width: 960px;
	margin: 0 auto;
	border: 2px black solid;
}

h1{
	font-family: 'Lobster', cursive;
	font-size: 80px;
	border: 1px black solid;
	padding: 20px;

}

header {
    background-color: #FFED74;
    color: black;
    border: 1px black solid;
    padding: 20px;	 
}

nav {
    background-color:#E8C66A;
    color: black;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    border: 1px black solid;
    display: inline;
    margin: 0 auto;
    width: 0 auto;
    padding: 20px;
    float: left;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    left: 100px;
    height: 400px;
    top-left: 100px;
    width: 400px;
    padding:20px;	 	 
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    height: 400px;
    padding: 20px;
    bottom-left: 100px;
    width: 400px;
}


footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 10px;
    height: 100px;
    text-align:center;
    padding: 20px;	 	 
}
