@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Bangers);


body {
	font-size: 18px;
}

#wrapper {
	background-color: #17E51C; 
	width: 960px;
	margin: 0 auto;
}

h1{
	font-family: 'Permanent Marker', cursive;
	font-size: 80px;
}

header {
    background-color: #FFED74;
    color: black;
    border: 1px black solid;
    padding: 20px;	 
}

nav {
    background-color:#E8C66A;
    color: black;
    font-family: 'Bangers', cursive;
    border: 1px black solid;
    display: inline;
    margin: 0 auto;
    width: 0 auto;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    font-family: 'Bangers', cursive;
    border: 1px black solid;
    padding:20px;	 	 
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 10px;
    text-align:center;
    padding: 20px;	 	 
}
