@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

body {

}

#wrapper {
	background-color: #17E51C; 

}

header {
    background-color: #FFED74;
    color: black;
    border: 1px black solid;
    padding: 20px;	
    font-family: 'Permanent Marker', cursive; 
    font-size: 2em;
}



