body {
	background-image: url(../images/Man cave.jpg);
	background-size: cover;
	color: rgb(87,35,23);
	font-family: Arial, sans-serif;
    }

#logo {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 10px 0 0 90px;
}

#slogan {
	font-size: 20px
	font-style: italic;
	text-align: center;
	color: rgb(0,0,0);
}

#Hitusup! {
	color: rgb(0,0,0); 
	font-size: 14px
	text-align: Left;
	font-family: Times, sans-serif;
	font-weight: lighter;
}

h1 {
	text-align: left;
	font-size: 50px;
	font-family: Times, serif;
	color: rgb(0,0,0);
}

p {
	z-index: 100;
	position: absolute;
	font-size: 16px;
	font-weight: bold;
	font-family: Times, sans-serif;
}
