body {
 	text-align: left;
	background-image: url(../images/basketball_fence.jpg);
	background-size: cover;
	color: ;
	font-family: Times, sans-serif;
}
hr {
	width: 400px;
}
h1 {
	text-align: left;
	font-size: 60px;
	font-family: Times, serif;
	text-decoration: underline;
	color: black;
}
#logo {
	width: 100px;
	height: 115px;
	border-radius: 60%;
	margin: 0 auto;
}
#slogan {
	font-size: 24px
	font-style: italic;
	text-align: left;
	color: black;
}
#footer {
	display: block;
	bottom: 0;
	position: fixed;
}
#email {
	color: #572317; 
	font-size: 16px
	text-align: Left;
	position: 
	font-family: Times, sans-serif;
	font-weight: lighter;
}
