body {
 	text-align: center;
	background-image: url(../images/basketball_sneakers.jpg);
	background-size: cover;
	color: #192757;
	font-family: Impact, Charcoal, sans-serif;
}
h1 {
	text-align: center;
	font-size: 60px;
	font-family: Impact, Charcoal, sans-serif;
}
#slogan {
	font-size: 24px
	font-style: italic;
	text-align: center;
}
#footer {
	display: block;
	bottom: 0;
	position: fixed;
}
#email {
	color: rgb(25,229,157); 
	font-size: 16px
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	font-weight: bolder;
}
